<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :path %>
  <%= f.text_field :path %>
</div>


<div>
  <%= f.label :published_at, 'Publishing starts' %>
  <%= f.text_field :published_at, :class => "datepicker span2" %>
</div>

<div>
  <%= f.label :unpublished_at, 'Publishing ends' %>
  <%= f.text_field :unpublished_at, :class => "datepicker span2" %>
</div>

<div>
  <%= f.submit 'Save!' %>
</div>
