<li id="<%= dom_id(site) %>">
  <span>
    <%= link_to '×', site_path(site), method: :delete, remote: true, class: 'remove', title: 'Are you sure?', confirm: 'This action will remove your site.' %>
  </span>
  <%= link_to edit_site_path(site), remote: true do |link| %>
    <i class="icon-pencil"></i> <b><%= site.name %></b>
    <small class="muted"><%= site.hostname %></small>
    <br>
  <% end %>
  <small>
    <%= link_to site_tips_path(site) do %>
      <span class="label"><%= site.tips.count %></span> go to site tips
    <% end %>

    <%# link_to site_tutorials_path(site) do %>
      <!--span class="label"><%= pluralize(site.tutorials.count, 'tutorials') %></span-->
    <%# end %>
  </small>
</li>
<li class="divider"></li>
