<li id="<%= dom_id(site) %>">
  <span>
    <%= link_to '×', site_path(site), method: :delete, remote: true, class: 'remove', confirm: 'Are you sure?' %>
  </span>
  <%= link_to site_path(site) do |link| %>
    <b><%= site.name %></b>
    <br>
    <span class="muted"><%= site.hostname %></span>
  <% end %>
</li>
