<div class="row">
  <p/>
  <div class="span12">
    <%= form_for @site, :html => {:class => ''} do |f| %>
      <%= render 'form', :f => f %>
    <% end %>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <p>Please add the following code to your web site</p>
    <%#<pre><%= "<script src='#{request.host_with_port}/assets/hermes.js'") </pre>%>
    <pre></pre>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h1><%= title 'Your sites' %></h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>Hostname</th>
        </tr>
      </thead>
      <tbody>
      <%= render @sites %>
      </tbody>
    </table>
  </div>
</div>
