<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>

<div>
  <%= f.label :path %>
  <%= f.text_field :path %>
</div>

<div data-toggle-group="broadcast">
  <label class="radio">
    <input type="radio" name="broadcast" checked="checked"> Broadcast
  </label>

  <label class="radio">
    <input type="radio" name="broadcast" data-toggle="#tip-connector"> Bound to a specific item in the page
    <%= link_to 'Connect', 'javascript:void(0)', 'data-togglee' => true, :id => 'tip-connector', :class => 'hide' %>
  </label>

</div>

<div>
  <%= f.label :published_at, 'Publishing starts' %>
  <%= f.text_field :published_at, :class => "datepicker span2" %>
</div>

<div>
  <%= f.label :unpublished_at, 'Publishing ends' %>
  <%= f.datetime_select :unpublished_at %>
</div>

<div>
  <%= f.submit 'Save!' %>
</div>
