<div class="control-group">
  <%= f.label :title, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :title, :class => 'input-block-level' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :content, class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :content, :class => 'input-block-level wysihtml5', :rows => 8 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :path, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :path, 'data-tip-connect-path' => '#tip-connector', class: 'input-block-level' %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    Layout type
  </label>
  <div class="controls">
    <div data-toggle-group>
      <label class="radio">
        <input type="radio" name="broadcast" id="tip-disconnect" data-output="#tip-connected" <%= 'checked' if f.object.selector.blank? %>> Broadcast
      </label>

      <label class="radio">
        <input type="radio" name="broadcast" <%= 'checked' if f.object.selector.present? %>
          data-toggle="#tip-connector"> Bound to a specific item in the page

        <%= link_to 'Connect', [f.object.tippable.url, f.object.path, @tip_connector_token].join,
              :id => 'tip-connector', 'target' => '_blank',
              :class => ('hide' if f.object.selector.blank?),
              'data-togglee'  => true,
              'data-hostname' => f.object.tippable.url,
              'data-token'    => @tip_connector_token,
              'data-output'   => '#tip-connected'
        %>

        <span id="tip-connected" class="<%= 'hide' if f.object.selector.blank? %>">
          <i class="icon icon-ok"></i> Connected!
          <%= f.hidden_field :selector %>
        </span>
      </label>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :published_at, 'Publishing starts', class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :published_at, :class => "datepicker span2" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :unpublished_at, 'Publishing ends', class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :unpublished_at, :class => "datepicker span2" %>
  </div>
</div>

<% if f.object.persisted? %>
  <div class="control-group">
    <div class="controls">
      <%= f.label :redisplay, :class => 'checkbox' do %>
        <%= f.check_box :redisplay %>
        Check to redisplay the message
      <% end %>
    </div>
  </div>
<% end %>

<div class="form-actions">
  <% if f.object.persisted? %>
    <%= f.button 'Update message', class: 'btn btn-primary' %>
  <% else %>
    <%= f.button 'Create new message', class: 'btn btn-primary' %>
  <% end %>
</div>
