<tr data-id="<%= tip.id %>" id="<%= dom_id(tip) %>">
  <td><i class="icon-reorder"></i> <%= link_to tip.title, edit_site_tip_path(@site, tip)  %></td>
  <td><%= l tip.published_at %></td>
  <td><%= l tip.unpublished_at %></td>
  <td style="text-align: right">
    <%= link_to "http://#{@site.hostname}#{tip.path}#hermes-preview,#{message_path(tip.class.model_name.param_key, tip.id)}", class: 'btn btn-small', target: '_blank' do %>
      <i class="icon-eye-open"></i>
    <% end %>

    <%= link_to edit_site_tip_path(@site, tip), class: 'btn btn-small' do %>
      <i class="icon-edit"></i>
    <% end %>

    <%= link_to site_tip_path(@site, tip), remote: true, method: :delete, title: 'Are you sure?', confirm: 'This action will delete your message.', class: 'btn btn-small' do %>
      <i class="icon-remove"></i>
    <% end %>
  </td>
</tr>
