<tr id="<%= dom_id(tip) %>">
  <td><i class="icon-reorder"></i> <%= tip.title  %></td>
  <td><%= l tip.published_at %></td>
  <td><%= l tip.unpublished_at %></td>
  <td>
    <%= link_to 'Go to page', "http://#{@site.hostname}#{tip.path}", class: 'label label-success' %>
    <%= link_to 'Edit', edit_site_tip_path(@site, tip), class: 'label label-info' %>
    <%= link_to 'Destroy', site_tip_path(@site, tip), remote: true, method: :delete, title: 'Are you sure?', confirm: 'This action will delete your tip.', class: 'label label-important' %>
  </td>
</tr>
